{% extends "base.html.twig" %}

{% block body %}
    <div class="row">
        <div class="col">
            <h2>Administration</h2>
            <p>
            <a href="#">Gestion des produits</a>
            </p>
        </div>
    </div>
{% endblock %}